body{
    margin: 0;
    display: flex;
    font-family: "Montserrat";
}

#body_sx{
    width: 50%;
    height: 100vh;
}

#body_sx img{
    width: 100%
}

#body_dx{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 50%;
}

#indietro{
    display: flex;
    width: 200px;
    height: 30px;

    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

#indietro img{
    width: 30px
}

#reg{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
}

h1{
    color: #e30613;
    
}

#registrazione{
    width: 400px;
}

#registrazione div{
    display: flex;
    flex-direction: column;
    padding-bottom:23px;
    position: relative;
}

input{
    width: 100%;
    height: 40px;
    outline: none;
}

#submit{
    cursor: pointer;
    background-color: #263238;
    color: white;
}

#submit:hover{
    color: #263238;
    background-color: white;
}

#registrazione span{
    display: none;
    font-size: 10px;
    bottom: 11px;
    left: 0;
    position: absolute;
}

#registrazione .errore span {
    display: block;
    color: #e30613;
}

.errore input {
    border-color: #e30613;
}

#body_up{
    display: none;
    color: #e30613;
    height: 20px;
}

#registrazione #div-ricorda{
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
}

#div-ricorda input{
    width: 18px;                 
    height: 18px;                
    cursor: pointer;
}

#registrazione #bottone-reg{
    padding-bottom: 0px;
}

@media(max-width: 1024px){

    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #body_sx{
        display: none;
    }

    #body_up{
        display: inline;
    }

}