body{
    margin: 0;
    font-family: 'Montserrat';
}


a{
 cursor: pointer;
}

/*header*/
#bordo{
    background-color: #e30613;
}

/*navservizi è la flexbox che contiene la flexbox navserviziinterno che a sua volta contiene le scritte per i servizi*/
#navservizi{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    color: white;
    font-weight: 500;
    font-size: .75em;
    height: 5.5vh;

    justify-content: flex-end;
}

#navservizi div{   
    display: flex;
    width: 54%;
    justify-content:space-between;
    align-items: center;
}

#separatore{
    border-left: 1px solid white;
    padding-left: 4%;
}

/*barra-superiore è la flexbox che contiene il logo, la barra di ricerca, la scritta ricerca avanzata, e le tre icone*/
.barra-superiore{
    display: flex;
    height: 95px;
    max-width: 1200px;
    margin: 0 auto;

    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 10vh;
    cursor: pointer;
}

/*ricerca è la flexbox che contiene la barra di ricerca e la scritta ricerca avanzata*/
#ricerca{
    display: flex;
    align-items: center;

    width: 55%;
}

.barra-ricerca{
    display: flex;
    padding-left: 4%;
    background-color: #f5f5f5;
    height: 45px;
    width: 75%;
    border: 1px solid #9a9a9a;
    color: #626a6f;
    font-weight: 400;
    font-size: .90em;

    justify-content: space-between;
    align-items: center;
}

.barra-ricerca .logo{
    height: 4vh;
}

/*lo uso per tutte le icone: lente, preferiti, carrello, profilo*/
.icone .logo{
    height: 4vh;
}

#ricerca a{
    width: 10%; /*grandezza della casella che contiene ricerca avanzata per fare andare a capo*/
    font-weight: 550;
    font-size: .75em;
    padding-left: 2%;
    text-decoration: underline;
}


/*icone è la flexbox che contiene le tre icone a destra*/
.icone{
    display: flex;
    width: 15%;

    justify-content: space-around;
}

.consegne{
    display: flex;
    color: #03821f;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: -12px;
    font-size: .75em;
    font-weight: 500;

    justify-content: flex-end;
    align-items: center;
}

.consegne .logo{
    height: 4vh;
    cursor: default;
}

/*barra-menu è la flexbox che contiene tutti i menu in basso al centro*/
#barra-menu{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: .90em;
    font-weight: 550;

    justify-content: space-around;
}

#barra-menu a{
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

header{
    position: relative;
}

.voce-menu{
    position: static;
}

#barra-menu .voce-menu:hover a {
    border-bottom: 2px solid #e30613;
}

/*#barra-menu a{
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

#barra-menu a:hover{
    border-bottom: 2px solid #e30613;
}*/

.barra-menu-aperto{
    background-color: white;
    position: absolute;
    width: 100%;
    top: 100%; 
    left: 0;
    
    display: none;
    z-index: 10;
}

.voce-menu:hover .barra-menu-aperto {
    display: flex;

    justify-content: space-between;
    align-items: center;
} 

.contenitore-menu{
    display: flex;
    width: 100%;
    padding-top: 24px;
    margin-left: 20%;
    margin-right: 20%;

    justify-content: space-around;
}

.menu-colonna{
    display: flex;
    flex-direction: column;
    width: 216px;
    padding-left: 16px;
    padding-right: 16px; 
    margin-bottom: 20px;
}

.menu-colonna section{
    margin-bottom: 30px;
}

.menu-colonna .titoli-paragrafi{
    color: #e30613;
    font-weight: 680;
    padding-bottom: 12px;
}

.link-menu div{
    display: block;
    text-decoration: none;
    padding-bottom: 12px;
    border-bottom: none;

    color: black;
    font-weight: 480;
}

.link-menu div span:hover{
    border-bottom: 1px solid black;
}

.menu-colonna img{
    width: 100%;
    margin-bottom: 20px;
}

.menu-colonna img:hover{
    cursor: pointer;
}

/*barra superiore a 1024px*/

#barra-superiore1024{
    display: none;
    height: 30px;
    max-width: 1024px;
    margin: 0 auto;
    width: 96%;
    margin-top: 20px;

    justify-content: space-between;
    align-items: center;
}

#barra-superiore1024 .logo{
    display: none;
    height: 6vh;
    cursor: pointer;
}

#barra-superiore1024 .icone .logo{
    display: none;
    height: 4vh;
    cursor: pointer;
}

.barra-ricerca1024{
    display: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

.consegne1024{
    display: none;
    margin-top: 10px;

    justify-content: center;
}


/*banner*/
#banner{
    position: relative;
}

#banner img{
    width: 100%;
    margin-top: 1px;

    cursor: pointer;
}

.pulsante-freccia{
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 50%;

    background-color: white;
    border: 1px solid black;
    font-weight: 500;

    width: 10px;
    height: 10px;
    padding: 15px;
    border-radius: 80px;

    align-items: center;
}

.sinistra{
    left: 70px;
}

.destra{
    right: 70px;
}

/*classifica*/
#blocco-classifica{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
}

/*sezione superiore con LIBRI, FILM, MUSICA, GIOCHI*/
#classifica-categorie{
    display: flex;
}

#classifica-categorie div{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 80%;
    font-weight: 700;
}

#categoria-rossa{
    color: #b30600;
    border-bottom: 2px solid #b30600;
}

.bordo{
    border-left: 1px solid black;
}

.sezione{
    display: flex;
    margin-top: 20px;
}

#blocco-classifica .sezione{
    justify-content: flex-start;
    width: 95%;
}

/*specifiche per il libro in prima posizione*/
#primo-posto{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e1e1e1;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7.5%;
    padding-right: 7.5%;

    align-items: center;
    justify-content: center;
}

#numero-uno{
    display: flex;
    position: absolute;
    top: 20px;
    left: 4%;
    width: 70px;
    height: 70px;

    color: #b30600;
    font-size: 60px;
    font-weight: 600;

    justify-content: center;
    align-items: center;
}

#primo-posto .libro-descrizione{
    display: flex;
    flex-direction: column;
    height: 90px;
    margin-top: 10px;
    padding: 5px;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#primo-posto-sfondo{
    background-color: white;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
}


#primo-posto .titolo{
    font-size: 16px;
    font-weight: 630;
    color: #b30600;
    border-bottom: 2px solid transparent;
}

#primo-posto .numero-classifica{
    display: none;
}

.stelle2{
    width: 80px;
}

#stelle3{
    display: none;
    width: 80px;
}


/*specifiche per i libri a destra*/
.libro{
    display: flex;
    padding: 5px;
    margin-left: 35px;
    width: 350px;
}

#blocco-classifica .libro{
    margin-left: 9%;
    width: 100%;
}

.numero-classifica{
    color: #b30600;
    font-size: 25px;
    font-weight: 630;
    margin-left: 7%;
    padding: 10px;
}

.libro-descrizione{
    display: flex;
    flex-direction: column;
    height: 95px;
    margin-top: 10px;
    padding: 5px;

    justify-content: space-between;
}

.titolo{
    font-size: 16px;
    font-weight: 630;
    border-bottom: 2px solid transparent;
}

.sottotitolo{
    font-size: 12px;
    margin-top: 3px;
}

.sottotitolo span{
    font-weight: 600;
}

.stelle{
    display: flex;  

    align-items: center;
}

.stelle img{
    width: 70px;
}

.stelle span{
    font-size: 13px;
}

/*specifiche per fare l'overlay*/
.contenitore-immagine{
    position: relative;
    width: 90px;
    flex-shrink: 0;
}

.contenitore-immagine img {
    width: 100%;
    display: block;
}

#primo-posto .contenitore-immagine{
    position: relative;
    width: 200px;
}

#primo-posto .contenitore-immagine img {
    width: 100%;
    display: block;
}

.overlay{
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.libro:hover .overlay{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.libro:hover .titolo{
    border-bottom: 2px solid black;
}

#primo-posto:hover .overlay{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

#primo-posto:hover .titolo{
    border-bottom: 2px solid #b30600;
}

.categorie{
    display: flex;
    margin-top: 10px;
}

.categorie div{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 100%;
    font-weight: 700;
    
}

.categorie div:hover{
    cursor: pointer;
}

.categorie div span{
    border-bottom: 2px solid black;
}




/*novità da non perdere*/

#blocco-novita{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #f5f5f5;

    justify-content: center;
    align-items: center;
}



#blocco-novita .libro{
    display: flex;
    flex-direction: column;
    position: relative; /*ELIMINARE SE NON FACCIO L'OPZIONE DEL BLOCCO CHE SPUNTA*/
    padding: 20px;
    width: 20%;
    margin-left: 0;
    justify-content: center;
    align-items: center;
}

#blocco-novita .libro-descrizione{   
    display: flex;
    flex-direction: column; 
    height: 95px;
    margin-top: 10px;
    padding: 5px;

    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#blocco-novita .contenitore-immagine{
    position: relative;
    width: 150px;
}

.contenitore-immagine img {
    width: 100%;
    display: block;
}

#blocco-novita .titolo{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

#blocco-novita .titolo span:hover{
    border-bottom: 2px solid black;
}

.sottotitolo{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.sottotitolo span{
    font-weight: 600;
}

#blocco-novita .stelle img{
    width: 90px;
}

.prezzo{
    display: flex;
    width: 100px;
    margin-top: 5px;

    justify-content: space-between;
    align-items: center;
}

.sconto{
    font-size: 15px;
    font-weight: 600;
}

.prezzo-pieno{
    font-size: 13px;
    font-weight: 500;
    text-decoration: line-through;
}

#blocco-novita .icone{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 34%;

    align-items: center;
}

.pulsante-freccia{
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 50%;

    background-color: white;
    border: 1px solid black;
    font-weight: 500;

    width: 10px;
    height: 10px;
    padding: 15px;
    border-radius: 80px;

    align-items: center;
}

#blocco-novita .pulsante-freccia{
    top: 90%;
    width: 8px;
    height: 8px;
    padding: 13px;
    border-radius: 70px;
    justify-content: center;
}

#blocco-novita .pulsante-freccia img{
    width: 250%;
}

#blocco-novita .sinistra{
    left: 20px;
}

#blocco-novita .destra{
    right: 20px;
}

/*footer*/
/*la parte del footer grigio*/
#footer-grigio{
    display: flex;
    flex-direction: column;

    background-color: #263238;
    color: #f0f1f1;
    font-size: .75em;
    font-weight: 500;

    justify-content: space-around;
    align-items: flex-start;
}

.footer-informazioni{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    width: 93%;
    padding: 26px;

    justify-content: space-around;
}

.footer-informazioni2{
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    width: 93%;

    justify-content: space-around;
}

.footer-informazioni div{
    cursor: pointer;
    margin-bottom: 12px;
}

.footer-informazioni div div :hover{
    text-decoration: underline;
}

.footer-informazioni .titoli-paragrafi{
    margin-bottom: 17px;
    font-size: 1.1em;
    font-weight: 580;
}

.footer-informazioni2 div{
    cursor: pointer;
    margin-bottom: 12px;
}

.footer-informazioni2 div div :hover{
    text-decoration: underline;
}

.footer-informazioni2 .titoli-paragrafi{
    margin-bottom: 17px;
    font-size: 1.1em;
    font-weight: 580;
}

#footer-grigio .icone{
    justify-content: flex-start;
    align-items: center;
}

#footer-grigio .icone img{
    height: 40px;
    padding: 5px;
}

#footer-linea-icone{
    border-top: 1px solid #3c484d;
    border-bottom: 1px solid #3c484d;
}

.footer-informazioni2 .icone{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-informazioni2 .icone img{
    padding-right: 15px;
    height: 45px;
}
/****************************************/

/*la parte del footer bianco*/
#footer-bianco{
    display: flex;
    flex-direction: column;
    max-width: 1150px;
    margin: 0 auto;
    width: 96%;
    margin-top: 25px;
    margin-bottom: 60px;

    font-size: .60em;
    font-weight: 500;
}

/*primo rigo del footer (un flex) bianco che contiene due flexbox*/
.footer-bianco1{
    display: flex;
    margin-bottom: 20px;

    align-items: center;
}

/*primo flexbox del primo rigo che contiene la parte con le carte*/
#footer-bianco1-sinistra{
    display: flex;
    width: 60%;

    align-items: center;
}

#footer-bianco1-sinistra div{
    display: flex;
    padding-right: 10px;

    align-items: center;
}

#footer-bianco1-sinistra div span{
    padding-right: 12px;
}

/*le icone sono a loro volta raggruppate in un flexbox*/
#footer-bianco .icone{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

#footer-bianco .icone img{
    height: 4vh;
    padding-right: 12px;
}

/*secondo flexbox della prima riga*/
#footer-bianco1-destra{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

#footer-bianco1-destra div{
    display: flex;
    padding-right: 10px;

    align-items: center;
}

#footer-bianco1-destra span{
    padding-right: 12px;
}

#footer-bianco1-destra img{
     height: 6vh;
}

#footer-bianco2{
    /*width: 100%;*/
    margin-bottom: 15px;
    line-height: 17px;
}

#footer-bianco2 a{
    text-decoration: underline;
    border-right: 1px solid black;
    padding-right:4px ;
}

#footer-bianco3{
    line-height: 15px;
}

/*****************************************/

.footer-tendina768{
    display: none;
    
    padding: 18px;
    border-bottom: 1px solid #3c484d;
    font-size: 1.1em;
    font-weight: 580;

    justify-content: space-between;
}

.footer-tendina768 img{
    height: 3vh;
}

.footer-grigio-icone1-768{
    display: none;
    margin-top: 25px;

    justify-content: space-around;
}

#logo-bianco768{
    height: 12vh;
    margin-top: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
}

@media (max-width: 1024px){
    #bordo{display: none;}
    #navservizi{display: none;}
    .barra-superiore{display: none;}
    #barra-menu{display: none;}
    .consegne{display: none;}

    #barra-superiore1024{display: flex;}
    #barra-superiore1024 .logo{display: inline;}
    #barra-superiore1024 .icone .logo{display: inline;}

    .icone{
        width: 10%;
    }

    .barra-ricerca1024{
        display: flex;
    }

    .consegne1024{
    display: flex;
    }   
    
    #blocco-novita #uno{display: none;}

    .footer-informazioni div{
        flex-wrap: wrap;
    }
}

@media(max-width: 768px){
    #sinistra{display: none;}
    #destra{display: none;}

    #numero-uno{display: none;}

    #primo-posto .numero-classifica{
        display: inline;
    }

    #primo-posto{
        padding: 17px;
        margin-left: 30px;
        align-items: normal;
    }

    #primo-posto-sfondo{
        display: flex;
        padding: 0;
        background-color: transparent;
    }

    #primo-posto .libro-descrizione{
        height: 95px;
        margin-top: 10px;
        padding: 5px;

        align-items: flex-start;
        text-align: left;
    }

    #primo-posto .stelle2{display: none;}
    #primo-posto #stelle3{display: inline;}

    #primo-posto .contenitore-immagine{
        max-width: 110px;
    }

    #blocco-classifica .libro{
        width: 350px;
    }

    #blocco-classifica .sezione{
        flex-direction: column;
    }

    .categorie div{
        font-size: 90%;
    }

    .categorie div span{
        border-bottom: 1px solid black;
    }

    #blocco-novita #due{display: none;}

    #blocco-novita .sezione{
        justify-content: space-around;
        width: 100%;
    }

    .footer-informazioni{display: none;}

    #footer-grigio{
        align-items: normal;
    }
    .footer-grigio-icone1-768 .icone{
        flex-direction: column;
    }

    .footer-informazioni2{
        flex-direction: column;

        justify-content: space-around;
        align-items: flex-start;
    }
    
    .footer-tendina768{
        display: flex;
    }

    .footer-grigio-icone1-768{
        display: flex;
    }

    .footer-bianco1{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #footer-bianco1-sinistra{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #d2d2d2;
    }

    #footer-bianco1-sinistra div{
        flex-direction: column;

        align-items: flex-start;
    }

    #footer-bianco1-sinistra div span{
        margin-bottom: 10px;
    }

    #footer-bianco1-destra{
        width: 98%;
        padding-top: 20px;


        justify-content: space-between;
   
    }

    #footer-bianco1-destra div{
        margin-right: 0;

        align-items: center;
    }

    #footer-bianco1-destra div span{
        margin-bottom: 10px;
    }
}

@media(max-width:500px){
    .categorie div{
    padding-left: 13px;
    padding-right: 13px;
    }

    .categorie div{
        font-size: 75%;
    }
    
    #blocco-novita #tre{display: none;}
}
